<div id="{{id}}" class="carousel slide" data-ride="carousel" {{dataIntervalElement}}>
    <ol class="carousel-indicators">
        {{#each carousels}}
            <li data-target="#{{../id}}" data-slide-to="{{index}}" class="{{Active}}"></li>
        {{/each}}
    </ol>

    <div class="carousel-inner" role="listbox">
		{{#each carousels}}   
            <div class="item {{Active}}">
                <div class="jumbotron jumbotron-xl bg-media" style="{{style}}">
                    {{#if isVideo}}					                   
                        <video autoplay="" loop="" muted="" class="video-bg">
                            <source src="{{videoUrl}}" type="video/mp4">
                        </video>
                    {{/if}}

                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h1>{{title}}</h1>
                                <p class="lead">{{description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		{{/each}}   
    </div>

    <a class="left carousel-control" href="#{{id}}" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">{{previousLabel}}</span>
    </a>
    <a class="right carousel-control" href="#{{id}}" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">{{nextLabel}}</span>
    </a>

</div>